.hero-text{
    margin-left: 2rem;
    margin-top: 3rem;
}

.hero-text h1{
    font-family: "Jersey 25";
    font-size:8.5rem;
    letter-spacing: 0.5rem;
    color: #E8D98B;
    font-weight: bold;
    line-height: 0.8 !important;
    display: inline-block;
    width: auto;
    vertical-align: top;
}

.query-main{
    padding-left:3rem;
    padding-right:3rem;
    margin-top:2rem;
    display:flex;
    width:100vw;
    flex-direction:column;
    align-items: center;
    gap: 1.5rem;
}   

.subject-container{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:0.6rem;
}

.subject-container label{
    font-size:1.3rem;
    padding-right:0.9rem;
    color: #202020;
}

.subject-container input{
    width:100%;
    padding:0.2rem;
    font-size: 1rem;
    font-family: "PixelFont", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 2px inset black;
    border-bottom:2px inset black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    background-color: #979797;
    font-size: 1.3rem;
}

.subject-container input:focus {
    outline:none;
}

.message-container{
    width:100%;
    display:flex;
    flex-direction:row;
    gap:0.6rem;
}

.message-container label{
    font-size:1.3rem;
    color: #202020;
}

.message-container textarea{
    width:100%;
    padding:0.5rem;
    font-size: 1.2rem;
    font-family: "PixelFont", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-right: 2px inset black;
    border-bottom:2px inset black;
    border-left: 2px solid white;
    border-top: 2px solid white;
    background-color: #979797;
    font-size: 1.2rem;
    height:28vh;
}

.message-container input:focus {
    outline:none;
}

.submit-container{
    width:15%;
    border: 2px inset white;
    display:flex;
    flex-direction:row;
    gap:0.6rem;
}

#submit-button{
    width: 100%;
    padding: 0.5rem;
    font-size: 1.2rem;
    font-family: "PixelFont", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #304C8A;
    color: #FFFFFF;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

